<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164861038152-p0jg1uh1p65pnbpqv5prmsvta2gk5qmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164861038152-p0jg1uh1p65pnbpqv5prmsvta2gk5qmn</string>
	<key>API_KEY</key>
	<string>AIzaSyCDQuzuR8LDldkqwXOX5xgwG1KUEjuftOA</string>
	<key>GCM_SENDER_ID</key>
	<string>164861038152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileAppV3</string>
	<key>PROJECT_ID</key>
	<string>sample-mobile-app-1eef3</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-mobile-app-1eef3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164861038152:ios:9b5f951e79eda5c223127d</string>
</dict>
</plist>